
.header{
    width: 1890px;
    height: 900px;
    background-image: url('../assets/Hero-bg.png');
}
/* intro section */
.intro-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
    justify-content: center;
    
}

.header img{
    width: 300px;
    height: 350px;
}

.intro-heading{
font-size: 65px;
font-weight: 800;
color: rgb(13, 19, 33);
align-items: center;
}

.intro-description{
 font-weight: 400;
 font-size: 30px;
 text-align: center;
 padding: 20px 73px;
 opacity: 0.7;
}

.contact-me{
    color: white;
    margin-top: 50px;
    font-size: 20px;
    font-weight: 600;
    padding: 15px 21px 15px 21px;
    border-radius: 8px;
    background: rgb(13, 19, 33);
}


/* About Web development */


.main-div{
    padding: 58px;
}
.about-web{
font-family: Azeret Mono;
font-size: 32px;
font-weight: 800;

}

.web-description{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
opacity: 0.7;
}

main{
    max-width: 1340px;
    margin: 0 auto;
}
.web-development{
    border-radius: 16px;
background: rgba(13, 19, 33, 0.02);
padding: 97px 150px;
text-align: center;
margin-top: 100px;
}
.my-intro{
    display: flex;
    justify-content: space-between;
    gap: 98px;
   
}

.about-me-1{
width: 477px;
height: 220px;
margin-right: 10px;
text-align: left;
border-radius: 16px;
background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
padding: 35px;

}

.about-me-desc-1{
    opacity: 0.7;
}

.my-intro-second{
    display: flex;
    gap: 50px;
    
}

.about-me-2{
width: 477px;
height: 220px;
margin-left: 10px;
text-align: left;
border-radius: 16px;
background: linear-gradient(270.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
margin: 32px 0px;
padding-right: 170px;
padding-bottom: 35px;
padding-top: 35px;
}



.my-intro-3{
    display: flex;
    justify-content: space-between;
    gap: 98px;

    
}


.about-me-3{
width: 477px;
height: 220px;
margin-right: 10px;
text-align: left;
border-radius: 16px;
background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);

padding: 35px;
}

.main-div img{
    padding: 15px;
}

.btn{
    box-sizing: border-box;
     border: 1px solid rgb(13, 19, 33);
     opacity: 0.7;
    font-size: 15px;
    font-weight: 600;
    margin-top: 15px;
    width: 140px;
    height: 40px;
    padding: 10px;
}



/* inspiration section */

.inspiration{
    margin-top: 45px;
    text-align: center;
}

.inspiration-heading{
    font-size: 32px;
   font-weight: 800;
}

.inspiration-description{
    font-size: 16px;
    font-weight: 400;
    padding: 10px;
    margin-bottom: 48px;
    opacity: 0.7;
}

iframe{
    border-radius: 16px;
background: url(Jhankar);

margin-bottom: 45px;
}



/* My target section */


.target-section{
    margin-top: 45px;
    padding: 25px;
  
}
.target-title{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 800;
text-align: center;
}

.target-description{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 19px;
font-weight: 400;
text-align: center;
opacity: 0.7;
margin: 30px 130px 70px;
padding: 0 25px;
}


/* Skills  */

.skills-container{
    display: flex;
    justify-content: space-between
}

.skills{
width: 325px;
height: 245px;
    border-radius: 16px;
padding: 40px 40px 30px;
}

.skill-title{
    font-size: 24px;
    font-weight: 800;
    color: rgb(13, 19, 33);
}
.skill-description{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
    opacity: 0.7;
}

.skills a{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 700;

}




/* frame section */


.support{
display: flex;
align-items: center;
flex-direction: column;

}
.support-title{
    color: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 700;
margin: 90px 30px 0px;

width: 330px;
height: 49px;
}

.support-container{
    margin-top: 20px;
    
    height: 314px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../assets/handshake.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    

}
.support-content h1{
   text-align: center;
   color: rgb(255, 255, 255);

}
.support-content p{
    text-align: center;
    margin-bottom: 40px;
    color: rgb(255, 255, 255);
    opacity: 0.7;
    font-size: 16px;
}

.support-content input{
    width: 548px;
    height: 56px;
    box-sizing: border-box;
border: 1px solid rgba(13, 19, 33, 0.15);
border-radius: 8px;
font-size: 16px;
padding-left: 40px;
}

.submit-btn{
    width: 120px;
    height: 58px;
    border-radius: 16px;
    border-radius: 8px;
    background: rgb(255, 255, 255);
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 600;
margin: 0 9px;
padding-bottom: 2px;

}



/* footer section */
.footer-section{
    margin-top: 30px;
    background: rgba(13, 19, 33, 0.03);
    height: 70px;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 240px 0px 270px;
}

nav ul{
    display: flex;
}
.nav-title{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 700;
}

nav ul li{
    list-style: none;
    margin-right: 50px;
}
.icons-img{
    text-decoration: none;
}



